:root{
    --main-color: hsl(0, 24%, 36%);
    --second-color: #c46868;
    --third-color: #331c1c;
    --fourth-color: #615f5fc3;
    --fifth-color: #dabfbf;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma,sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color: var(--third-color);
    font-weight: 600;
    letter-spacing: 1px;
}
header .logo span{
    color: var(--second-color);
}
header .logo span:nth-child(2){
    color: var(--fourth-color);
}   
header .navbar a{
    color: black;
    font-size: 1.5rem;
    padding: 0 1.0rem;
}
header .navbar a:hover{
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
}
header .icon a{
    font-size: 2.0rem;
    color: black;
    margin-left: 1.0rem;
    padding: 0 1.5rem;
    border-radius: 50%;
}
header .icon a:hover{
    background-color: var(--second-color);
    color: white;
}

.afrihome{
    display: flex;
    background-color: rgb(171, 105, 105);
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    min-height: 100vh;
}
.afrihome .content{
    max-width: 50rem;
}
.afrihome .content h1{
    font-size: 3.0rem;
    color: var(--third-color);
}
.afrihome .content p{
    font-size: 1.5rem;
    color: var(--fourth-color);
    margin-bottom: 2rem;
}
.afrihome .content .btn{
    background-color: var(--main-color);
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 2rem;
}
section{
    padding: 1rem 9%;
 }
 h1{
     font-size: 2.0rem;
     color: var(--third-color);
     text-align: center;
     margin-bottom: 2rem;
 }
 .about{
     display: flex;
     align-items: center;
     background-color: var(--main-color);
     min-height: 100vh;
     margin-top: 1rem;
     margin-bottom: 2rem; 
 }
 .about .content{
     max-width: 50rem;
 }
 
 .about.content h1{
     font-size: 3.0rem;
     color: var(--third-color);
 
 }
 .about .content h3{
     font-size: 2.5rem;
     color: black;
     margin-bottom: 2rem;
 }    
 .about .content p{
     font-size: 1.5rem;
     color: black;
     margin-bottom: 2rem;
 }
 .image-moraa img{
     width: 140%;
     height: 90vh;
     border-radius: 10%;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
     margin-top: 5rem;
     margin-bottom: 2rem;
     justify-content: flex-end;
     align-items: first baseline;
     display: flex;
     flex-direction: column;
 }
 .btn{
     display: inline-block;
     text-align: center;
     text-decoration: none;
     background-color: var(--second-color);
     color: white;
     padding: 1.5rem 3rem;
     border-radius: 5rem;
     font-size: 1.7rem;
     cursor: pointer;
     margin-top: 2rem;
 }
 .btn:hover{
     background-color: var(--third-color);
     color: white;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
 }









/* media queries */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    header .logo{
        font-size: 2.5rem;
    }
    header .navbar a{
        font-size: 1.4rem;
    }
    header .icon a{
        font-size: 1.8rem;
    }
    h1{
        font-size: 1.8rem;
    }
    .home .content h1{
        font-size: 2.5rem;
    }
    .home .content h3{
        font-size: 2.0rem;
    }    
}