:root{
    --main-color: hsl(0, 24%, 36%);
    --second-color: #c46868;
    --third-color: black;
    /*to add button, heading colours etc*/

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma,sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--main-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
    font-size: 3rem;
    color: var(--third-color);
    font-weight: 600;
    letter-spacing: 1px;
}
header .logo span{
    color: var(--second-color);
}
header .logo span:nth-child(2){
    color: var(--fourth-color);
}   
header .navbar a{
    color: var(---color);
    font-size: 1.5rem;
    font-weight: 510;
    padding: 0 1.0rem;
    display: inline-block;
}
header .navbar a:hover{
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
}
header .hamburger a{
    font-size: 2.0rem;
    color: var(--third-color);
    margin-left: 1.0rem;
    padding: 0 1.5rem;
    border-radius: 50%;
}
header .hamburger .a:hover{
    background-color: var(--second-color);
    color: white;
}

.home{/* home page */
    display: flex;
    background-image: url(/images/africanwoman.png);/*to change bg img*/
    background-repeat: cover;
    padding: 1rem 9%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 100vh;
}
.home .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 1px;
    border-radius: 20px;
    height: 75vh;
    width: 220vh;
}
.home .content{
    max-width: 60%;
}
.home .content h1{
    font-size: 3.0rem;
    color: var(--third-color);
}
.home .content p{
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}
.home .content .btn{
    background-color: var(--main-color);
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 5px;
}
section{
    padding: 1rem 9%;
 }
 h1{
     font-size: 2.0rem;
     color: var(--third-color);
     text-align: center;
     margin-bottom: 2rem;
 }
 .about{/* about page */
     display: flex;
     flex-direction: row;
     background: linear-gradient(var(--second-color), transparent 70%), url(../images/afrihome.jpg) no-repeat center center/cover;
     padding: 2rem 9%;
     justify-content: center;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 1rem;
     min-height: 100vh;
 }
 .about .content{
     max-width: 50rem;
 }
 
 .about.content h1{
     font-size: 4.0rem;
     color: black; /* to check h1 and h3 on about page; */
 }
 .about .content h3{
     font-size: 2.5rem;
     color: var(--third-color);
     margin-bottom: 2rem;
 }    
 .about .content p{
     font-size: 1.5rem;
     color: black;
     margin-bottom: 2rem;
 }
 .image-moraa img{
     width: 140%;
     height: 90vh;
     border-radius: 10%;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
     margin-top: 5rem;
     margin-bottom: 2rem;
     justify-content: flex-end;
     align-items: first baseline;
     display: flex;
     flex-direction: column;
     background-attachment: fixed;
     background-size: cover;
 }
 .btn{
     display: inline-block;
     text-align: center;
     text-decoration: none;
     background-color: var(--second-color);
     color: white;
     padding: 1.5rem 3rem;
     border-radius: 5rem;
     font-size: 1.7rem;
     cursor: pointer;
     margin-top: 2rem;
 }
 .btn:hover{
     background-color: var(---color);
     color: white;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
 }
 .categories{/* categories page */
     justify-content: space-between;
     margin-top: 2rem;
     margin-bottom: 2rem;
     background-color: var(--main-color);  
 }
 .categories .h2{
     font-size: 2.0rem;
     color: var(--third-color);
     margin-bottom: 2rem;
    text-align: center;
 }
 .categories p{
     font-size: 1.5rem;
     color: var(--third-color);
     margin-bottom: 2rem;
     align-content: center;
 }
 .categories .box-container-one{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }
 .categories .box-container-one .box1{
    background-color: url(../images/afrihome.jpg) no-repeat center center/cover;
     height: 50vh;
     width: 50%;
     padding: 2rem;
     border-radius: 1rem;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
     text-align: center;
     margin-bottom: 2rem;
     flex-basis: 30%;
 }
.categories .box-container-one .box1:hover{
        background-color: var(--second-color);
        color: white;
        box-shadow: 0 0 1rem rgba(0,0,0,.2);
    }
.categories .box-container-one .box1 .amani{
   width: 40vh;
   max-height: 40vh;
    border-radius: 1rem;
}
.categories .box-container-one .box2{
        background-color: url(../images/afrihome.jpg) no-repeat center center/cover;
        height: 50vh;
        width: 50%;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0,0,0,.2);
        text-align: center;
        margin-bottom: 2rem;
        flex-basis: 30%;
}
.categories .box-container-one .box2:hover{
    background-color: var(--second-color);
    color: white;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
}
.categories .box-container-one .box2 .maa{
    width: 40vh;
    max-height: 40vh;
     border-radius: 1rem;
 }
/*testimonial page*/
 .testimonials{
    background-color: white;
    padding: 2rem 9%; 
 }
 .testimonials h2{
    font-size: 1.5rem;
    color: var(--third-color);
 }

 .testimonials .box-container-two{
    display: grid;
    justify-content: space-evenly;
    height: 300px;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}
.testimonials .box-container-two div{
    background-color: var(--second-color);
    padding: 20px 0;
    font-size: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    text-align: center;
    margin-bottom: 2rem;
}
.testimonials .box-container-two .box1{
    background-color: white;
    box-shadow: none;
}
.testimonials .box-container-two .box4{
    grid-column: span 3;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 40px;
}
.testimonials .fa-arrow-right{
    font-size: 2rem;
    transition: transform 0.2s;
    color: var(--third-color);
    margin-left: 1rem;
    margin-bottom: 1rem;
} /* to make the arrows responsive5 */
.testimonials .i:hover{
    transform: scale(1.2);
    color: var(--main-color);
}
.testimonials .box2 .stars, .testimonials .box3 .stars{
    box-shadow: none;
    color: yellow;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.testimonials .stars:hover{
    color: var(--second-color);
}
.testimonials .brands{
    font-size: 3rem;
    color: var(--main-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.shop{/* shop page  */
    margin-top: 50vh;
    margin-bottom: 50px;
}

.shop .h2{
    font-size: 3.0rem;
    font-weight: 600; /* to check h1 and h3 on shop page; */
    color: var(--third-color);
    margin-bottom: 2rem;
    text-align: center;
}
.shop .p{
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--third-color);/* to check p on shop page; */
    margin-bottom: 2rem;
    text-align: center;
}
.shop .jewerlybox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.shop .jewerly1{

    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly2{
    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly3{
    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly4{
    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly5{
    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly6{
    height: 50vh;
    width: 50%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}

.faq{/* faq page  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;

}
.faq-image{
    background-image: url(../images/faq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
}
.faq h1{
    font-size: 2.0rem;
    color: var(--third-color);
    text-align: center;
    margin-bottom: 2rem;
}
.faq p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--third-color);
    text-align: center;
    margin-right: 5px;
    margin-bottom: 2rem;
}
.faq .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4rem;
    width: 50rem;
}
.faq  .accordion .accordion-item{
    border-bottom: 1px solid var(--second-color);
}
.faq  .accordion .accordion-item button[aria-expanded="true"]{
    border-bottom: 1px solid var(--second-color);
}
.faq .accordion .accordion-item button{
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 2rem;
    font-size: 2.0rem;
    font-weight: 500;   
    border: none;
    outline: none;
}
.faq .accordion .accordion-item button:hover, .faq .accordion .accordion-item button:focus{
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
}
.faq .accordion .accordion-item button:hover::after, .faq .accordion .accordion-item button:focus::after{
    cursor: pointer;
    color: var(--main-color);
    border-radius: 1px solid var(--third-color);
}
.faq .accordion button .accordion-title{
padding: 1rem 1.5rem 1rem 0;
}
.accordion button .icon{
    display: inblock;
    position: absolute;
    right: 1rem;
    top: 18px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--third-color);
    border-radius: 50%;

    transform: translateY(-50%);
    font-size: 2.0rem;
    color: var(--third-color);
}



/* media queries */

@media (max-width: 768px){
    :root{
        font-size: 40%;
    }
}

@media (max-width: 390px){
    :root{
        font-size: 30%;
    }
    header .logo{
        font-size: 1.3rem;
    }
    header .navbar a{
        font-size: 0.8rem;
    }
    header .icon a{
        font-size: 1.0rem;
    }
    .afrihome .content h1{
        font-size: 3.5rem;
    }
    .afrihome .content p{
        font-size: 1.8rem;
    }
    .afrihome .content .btn{
        font-size: 1.8rem;
    }
    .afrihome .image-moraa img{
        width: 50%;
        height: 40vh;
    }
    .testimonials .p{
        font-size: 0.5rem;
    }
}
