:root{
    --main-color: #bd8a6f;
    --second-color: #f4c542  ;
    --third-color: black;
    /*to add button, heading colours etc*/

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma,sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    min-width: 100vh;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: var(--main-color);
    
}
header .logo{
    font-size: 2.0rem;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 1rem;
}
header .logo span{
    color: var(--second-color);
}

header .navbar .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(50px);
    box-shadow: -10px 0 10px rgba(0,0,0,.1);
    display: none;/*to update no flex*/
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem;
    background: var(--main-color);
    text-decoration: none;
}
header .navbar .sidebar li{
    width: 100%;
    margin: 5px 0;
}
header .navbar .sidebar li a{
    width: 100%;
    color: var(--third-color);
    padding: 2rem 0;
}

header .navbar .mainbar li{
    margin: 5px 1.5rem;
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px 1%;
    gap: 5px;
    height: 100%;
    color: var(--third-color);
}
header .navbar .mainbar li a{
    color: var(--third-color);
    padding: 1rem;
}
header .navbar a:hover{
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
}
header .close-btn{
   height: 10px;
}
header .navbar .hamburger{ 
    font-size: 2rem;
    font-weight: 600;
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--third-color);
    padding: 1rem;
}


.home{/* home page */
    display: flex;
    background-image: url(/images/patternbg.jpg);/*to change bg img*/
    background-repeat: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    padding: 1rem 9%;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: 100vh;
}
.home .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 1px;
    border-radius: 20px;
    height: 75vh;
    width: 220vh;
}
.home .content{
    max-width: 60%;
}
.home .content h1{
    font-size: 3.0rem;
    color: var(--third-color);
}
.home .content p{
    font-size: 1.7rem;
    font-weight: 600;
    color: black;
    margin-top: 30px;
}
.home .content .btn{
    background-color: var(--main-color);
    color: var(--third-color);
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 50px;
}
section{
    padding: 1rem 9%;
 }
 h1{
     font-size: 2.0rem;
     color: var(--third-color);
     text-align: center;
     margin-bottom: 2rem;
 }
 .about{/* about page */
     display: flex;
     flex-direction: row;
     background: linear-gradient(var(--second-color), transparent 70%), url(../images/afrihome.jpg) no-repeat center center/cover;
     padding: 2rem 9%;
     justify-content: center;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 1rem;
     min-height: 100vh;
 }
 .about .content{
     max-width: 50rem;
 }
 
 .about.content h1{
     font-size: 3.0rem;
     color: var(--third-color); /* to check h1 and h3 on about page; */
     text-align: center;
 }
 .about .content h3{
     font-size: 2.0rem;
     color: var(--third-color);
     margin-bottom: 2rem;
     text-align: left;

 }    
 .about .content p{
     font-size: 1.5rem;
     color: var(--third-color);
     margin-bottom: 2rem;
 }
 .image-moraa img{
     width: 140%;
     height: 90vh;
     border-radius: 10%;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
     margin-top: 5rem;
     margin-bottom: 2rem;
     justify-content: flex-end;
     align-items: first baseline;
     display: flex;
     flex-direction: column;
     background-attachment: fixed;
     background-size: cover;
 }
 .btn{
     display: inline-block;
     text-align: center;
     text-decoration: none;
     background-color: var(--second-color);
     color: var(--third-color);
     padding: 1.5rem 3rem;
     border-radius: 5rem;
     font-size: 1.7rem;
     font-weight: 600;
     cursor: pointer;
     margin-top: 2rem;
 }
 .btn:hover{
     background-color: var(--main-color);
     color: white;
     box-shadow: 0 0 1rem rgba(0,0,0,.2);
 }

/*testimonial page*/
 .testimonials{
    background-color: white;
    padding: 2rem 9%; 
 }
 .testimonials h2{
    font-size: 1.5rem;
    color: var(--third-color);
 }

 .testimonials .box-container-two{
    display: grid;
    justify-content: space-evenly;
    height: 300px;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}
.testimonials .box-container-two div{
    background-color: var(--main-color);
    padding: 20px 0;
    font-size: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    text-align: center;
    margin-bottom: 2rem;
}
.testimonials .box-container-two .box1{
    background-color: white;
    box-shadow: none;
}
.testimonials .box-container-two .box4{
    grid-column: span 3;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 40px;
}
.testimonials .fa-arrow-right{
    font-size: 2rem;
    transition: transform 0.2s;
    color: var(--third-color);
    margin-left: 1rem;
    margin-bottom: 1rem;
} /* to make the arrows responsive5 */
.testimonials .i:hover{
    transform: scale(1.2);
    color: var(--main-color);
}
.testimonials .box2 .stars, .testimonials .box3 .stars{
    box-shadow: none;
    color: yellow;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.testimonials .stars:hover{
    color: var(--second-color);
}
.testimonials .brands{
    font-size: 3rem;
    color: var(--main-color);
    padding: 2rem 9%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.shop{/* shop page  */
    margin-top: 50vh;
    margin-bottom: 50px;
}

.shop h2{
    font-size: 2.5rem;
    font-weight: 600; /* to check h1 and h3 on shop page; */
    color: var(--third-color);
    margin-bottom: 1rem;
    text-align: center;

}
.shop p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--third-color);/* to check p on shop page; */
    margin-bottom: 2rem;
    text-align: left;
    padding: 1rem;
}
.shop .jewerlybox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.shop .jewerlybox .ul{
    list-style: none;
    padding: 1rem 2rem; 
}
.shop .jewerlybox .ul li{
display: inline-block;

}
.shop .jewerly1{

    height: 60vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly2{
    height: 60vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly3{
    height: 50vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly4{
    height: 50vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly5{
    height: 50vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}
.shop .jewerly6{
    height: 50vh;
    width: 45%;
    padding: 2px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 10px;
    flex-basis: 30%;
}

.faq{/* faq page  */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;

}
.faq-image{
    background-image: url(../images/faq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
}
.faq h1{
    font-size: 2.0rem;
    color: var(--third-color);
    text-align: center;
    margin-bottom: 2rem;
    margin-right: 10px;
}
.faq p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--third-color);
    text-align: center;
    padding: 5px;
    margin-bottom: 2rem;
}
.faq .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4rem;
    width: 50rem;
}
.faq  .accordion .accordion-item{
    border-bottom: 1px solid var(--second-color);/* grab coffee to style faq */
}
.faq  .accordion .accordion-item button[aria-expanded="true"]{
    border-bottom: 1px solid var(--second-color);
}
.faq .accordion .accordion-item button{
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 2rem;
    font-size: 2.0rem;
    font-weight: 500;   
    border: none;
    outline: none;
}
.faq .accordion .accordion-item button:hover, .faq .accordion .accordion-item button:focus{
    background-color: var(--second-color);
    color: white;
    cursor: pointer;
}
.faq .accordion .accordion-item button:hover::after, .faq .accordion .accordion-item button:focus::after{
    cursor: pointer;
    color: var(--main-color);
    border-radius: 1px solid var(--third-color);
}
.faq .accordion button .accordion-title{
padding: 1rem 1.5rem 1rem 0;
}
.accordion button .icon{
    display: inblock;
    position: absolute;
    right: 1rem;
    top: 18px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--third-color);
    border-radius: 50%;

    transform: translateY(-50%);
    font-size: 2.0rem;
    color: var(--third-color);
}



/* media queries */

@media (max-width: 390px){
    :root{
        font-size: 30%;
    }
    header{
        padding: 1rem 2%;
        
    }
    header .logo{
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.5rem;
    }
    header .navbar li{
        font-size: 3px;
        font-weight: 500;
        margin: 0 0.5rem; 
        gap: 0.5rem;
        padding: 0.3rem;
    
    }
    header .hamburger a{
        font-size: 1.0rem;
    }
    .home{
        padding: 1rem 2%;
    }
    .home .content h1{
        font-size: 3.5rem;
    }
    .home .content p{
        font-size: 1.8rem;
    }
    .home .content .btn{
        font-size: 1.8rem;
    }
   
    .testimonials .p{
        font-size: 0.5rem;
    }
}

